# Git
.git/
.gitignore

# Docker
docker-compose.yaml
Dockerfile

# Env & Venv
.venv/
.env/.env.example

# IDE
.idea/
.DS_Store

# Cache
*.pytest_cache
**/__pycache__/

# Linters & Formatters
style/

# Project
README.md
readme
