{% extends 'generator/base.html' %}
{% load static %}


{% block content %}
    <section>
        <div id="sec_options" class="container text-left">
            <form action="{% url 'password' %}">

                <div class="chboxs">Length
                        <select id="pgLength" name="length">
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12" selected="selected">12</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <div class="chboxr">Uppercase
                    <input type="checkbox" name="uppercase" checked="checked">
                </div>

                <div class="chboxr">Numbers
                    <input type="checkbox" name="numbers" checked="checked">
                </div>

                <div class="chboxr">Special characters
                    <input type="checkbox" name="special" checked="checked">
                </div>

                <div id="sec_btn">
                    <div class="GenerateBtn">
                        <input type="submit" value="Generate password" class="btn btn-primary">
                    </div>
                </div>

            </form>
        </div>
    </section>
{% endblock %}