{% extends 'generator/base.html' %}
{% load static %}

{% block content %}
    <section>
        <div id="sec_options" class="container text-left">
            <form method="POST">
                {% csrf_token %}

                <div>Length
                    <select id="browser-default custom-select mb-4" name="length">
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <div class="form-check form-switch">
                   <label class="form-check-label" for="flexSwitchCheckChecked">Uppercase</label>
                  <input name="uppercase" class="form-check-input"
                         type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>

                </div>

                <div class="form-check form-switch">
                  <input name="numbers" class="form-check-input"
                         type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Numbers</label>
                </div>

                <div class="form-check form-switch">
                  <input name="special" class="form-check-input"
                         type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Special</label>
                </div>

                {% if password %}
                    <h2>Your password:</h2>
                    <h3 id="text-to-copy">{{ password }}</h3>
                    <button id="copy-button">Copy to Clipboard</button>
                {% endif %}

                <button class="GenerateBtn" name="submit" value="Submit" type="submit">
                    Generate password
                </button>


            </form>



        </div>
    </section>
{% endblock %}
